@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #012;
  line-height: 1;
  font-family: Inter;
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: .625rem .9375rem;
  border-radius: .3125rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 1.25rem;
  border-radius: .3125rem;
  border: 1px solid #eee
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  padding: .9375rem .9375rem .9375rem .9375rem;
  border-bottom: 2px solid rgba(102,102,102,.2)
}
.header__menu {
  display: flex;
  gap: 1.25rem;
  align-items: center
}
.menu {
  font-size: .9375rem;
  font-weight: 500;
  color: #666
}
.menu__logo {
  width: 2rem
}
.menu__list {
  gap: 1.25rem;
  display: flex;
  align-items: center
}
.footer {
  background-color: #222
}
.footer__container {
  text-align: right;
  font-size: .875rem;
  color: #e6e6e6;
  padding: 3.125rem 0
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center
}
.hero-section__subtitles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7.5rem;
  margin-bottom: 6.25rem;
  gap: 3.125rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: #999
}
.hero-section__title {
  padding: 3.125rem 0;
  text-align: center;
  font-weight: 800
}
.hero-section__img img {
  width: 100%;
  border-radius: 1.25rem
}
.description {
  background-color: #f7f7f7;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  margin-bottom: 6.25rem
}
.description .desc {
  display: flex;
  gap: 3.125rem
}
.description__image-gitara {
  flex: 1 1 50%
}
.description__gitara {
  margin-right: 3.125rem;
  margin-bottom: 2.5625rem
}
.description__gitara img {
  max-width: 34.75rem;
  border-radius: 1.25rem
}
.description__image-darling {
  display: flex;
  max-width: 34.75rem;
  overflow: hidden;
  border-radius: 1.25rem;
  max-height: 22.25rem
}
.description .no-scale img {
  -webkit-transform: scale(1);
  transform: scale(1);
  left: 0
}
.description__darling img {
  width: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  left: -1.875rem;
  position: relative
}
.description__label {
  flex: 1 1 50%
}
.description__title {
  color: #012;
  font-weight: 800;
  font-size: 3.125rem;
  margin-bottom: 1.25rem
}
.description__text {
  color: #888;
  max-width: 16.875rem;
  line-height: 150%
}
.questions {
  margin-bottom: 6.25rem
}
.questions__container {
  background-color: #f7f7f7;
  font-weight: 600;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  border-radius: 1.25rem
}
.questions .spollers__body {
  font-weight: 500
}
.photos {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-areas: "a b c d" "a b f g";
  gap: .625rem
}
.photos .on-dance {
  grid-area: a
}
.photos .img1 {
  grid-area: c
}
.photos .img2 {
  grid-area: d
}
.photos .img3 {
  grid-area: f
}
.photos .img4 {
  grid-area: g
}
.photos .img5 {
  grid-area: b
}
.photos__block img {
  border-radius: 1.25rem;
  width: 100%
}
.congratulation {
  display: flex;
  justify-content: space-between
}
.congratulation__label {
  align-self: center;
  max-width: 31.25rem;
  margin-left: 5rem;
  margin-right: .9375rem
}
.congratulation__title {
  color: #333;
  font-weight: 800;
  font-size: 3.125rem;
  margin-bottom: 1.25rem
}
.congratulation__text {
  color: #888
}
.congratulation__image {
  max-height: 50rem;
  overflow: hidden
}
@media (min-width:75em) {
  .hero-section__title {
    font-size: 4.5rem
  }
  .congratulation__label {
    margin-left: 5rem
  }
}
@media (max-width:20em) {
  .hero-section__title {
    font-size: 2.5rem
  }
  .congratulation__label {
    margin-left: .9375rem
  }
}
@media (max-width:90.5625em) {
  .congratulation__label {
    position: absolute;
    z-index: 50
  }
  .congratulation__title {
    text-align: center;
    color: #fff
  }
  .congratulation__text {
    color: #eaeaea
  }
  .congratulation__image {
    -webkit-filter: brightness(.7);
    filter: brightness(.7)
  }
}
@media (max-width:61.99875em) {
  .photos {
    grid-template-areas: "a b c" "a b f" "d g ."
  }
}
@media (max-width:57.1875em) {
  .description .desc {
    flex-wrap: wrap
  }
  .description .desc .description__image-gitara {
    display: flex;
    justify-content: center
  }
  .description__gitara {
    margin-right: 0
  }
  .description__darling {
    flex-wrap: wrap;
    margin-right: 0;
    display: flex;
    justify-content: center
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #fff;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    font-size: 1.875rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__menu {
    justify-content: space-between
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:38.875em) {
  .photos {
    grid-template-areas: "a b" "a b" "d g" "c f"
  }
}
@media (min-width:20em) and (max-width:75em) {
  @supports (font-size:clamp(2.5rem ,1.7727272727rem + 3.6363636364vw ,4.5rem)) {
    .hero-section__title {
      font-size: clamp(2.5rem ,1.7727272727rem + 3.6363636364vw ,4.5rem)
    }
  }
  @supports not (font-size:clamp(2.5rem ,1.7727272727rem + 3.6363636364vw ,4.5rem)) {
    .hero-section__title {
      font-size: calc(2.5rem + 2 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-left:clamp(0.9375rem ,-0.5397727273rem + 7.3863636364vw ,5rem)) {
    .congratulation__label {
      margin-left: clamp(.9375rem ,-.5397727273rem + 7.3863636364vw ,5rem)
    }
  }
  @supports not (margin-left:clamp(0.9375rem ,-0.5397727273rem + 7.3863636364vw ,5rem)) {
    .congratulation__label {
      margin-left: calc(.9375rem + 4.0625 * (100vw - 20rem)/ 55)
    }
  }
}
@media (any-hover:hover) {
  .menu a:hover {
    text-decoration: underline
  }
}